<div class="bloc l-bloc w3-animate-top" id="nav-bloc">
	<div class="container">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" [routerLink]="['/']">Online Kisaan
					Sewa</a>
				<button id="nav-toggle" type="button"
					class="ui-navbar-toggle navbar-toggle"
					data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span
						class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav">
					<li [ngClass]="{active: router.url==='/'}">
						<a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true" style="font-size: 25px;"></i>Home</a>
					</li>
					<li [ngClass]="{active: router.url==='/about'}">
						<a [routerLink]="['/about']"><i class="fa fa-info" aria-hidden="true" style="font-size: 25px;"></i> About</a>
					</li>
					<li [ngClass]="{active: router.url==='/services'}">
						<a [routerLink]="['/services']"><i class="fa fa-server" aria-hidden="true" style="font-size: 25px;"></i> Services</a>
					</li>
					<li [ngClass]="{active: router.url==='/team'}">
						<a [routerLink]="['/team']"><i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i> Team</a>
					</li>
					<li [ngClass]="{active: router.url==='/kisan/login'}">
						<a [routerLink]="['/kisan/login']"><i class="fa fa-sign-in" aria-hidden="true" style="font-size: 25px;"></i> Login</a>
					</li>
					<li [ngClass]="{active: router.url==='/kisan/register'}">
						<a [routerLink]="['/kisan/register']"><i class="fa fa-user-plus" aria-hidden="true" style="font-size: 25px;"></i> Register</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>