#nav-bloc {
  margin-top: 0px;
}

.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 600;
}
.navbar-brand img {
  width: auto;
  max-height: 40px;
  margin: 0px 5px 0 0;
}
.navbar-brand {
  padding: 15px 15px;
}
.navbar .nav {
  padding-top: 2px;
  margin-right: -16px;
  float: right;
}
.nav > li {
  float: left;
  margin-top: 4px;
  font-size: 16px;
}
.nav > li a:hover {
  background: transparent;
}
.navbar-toggle {
  margin: 12px;
  border: 0px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}
.navbar-collapse.in {
  overflow-y: visible;
  float: left;
  width: 100%;
}
.navbar-1 {
  float: right;
}
.site-navigation:first-child {
  float: left;
}
.site-navigation:nth-child(2) {
  float: right;
}
.site-navigation:nth-child(2) a {
  color: #ccc;
  font-size: 85%;
  padding-right: 0px;
}

.active{
  border-radius: 10px;
  border: solid black;
}


@media (max-width: 768px) {
  .bloc {
    text-align: center;
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    width: 100%;
  }
  .nav > li:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn.pull-left,
  .btn.pull-right {
    float: none !important;
  }
  .bloc-xl,
  .bloc-lg {
    padding: 40px 0;
  }
}
