.get-location {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.get-location a {
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-row:hover {
  background: whitesmoke;
}
