<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6 w3-animate-right">
                <div class="about-title clearfix">
                    <h1>{{'about.about' | translate}}
                        <span>{{'about.us' | translate}}</span></h1>
                    <h3>{{'about.annapurnas' | translate}} </h3>
                    <p class="about-paddingB">{{'about.paraFirst' | translate}}
                    </p>
                    <p>{{'about.paraSecond' | translate}}</p>
                    <div class="about-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i
                                        id="social-fb"
                                        class="fa fa-facebook-square fa-3x social"></i></a>
                            </li>
                            <li><a href="https://twitter.com/"><i id="social-tw"
                                        class="fa fa-twitter-square fa-3x social"></i></a>
                            </li>
                            <li> <a href="https://plus.google.com/"><i
                                        id="social-gp"
                                        class="fa fa-google-plus-square fa-3x social"></i></a>
                            </li>
                            <li> <a href="mailto:utkarshutt2706@gmail.com"><i
                                        id="social-em"
                                        class="fa fa-envelope-square fa-3x social"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 w3-animate-left">
                <div class="about-img">
                    <img src="../../../assets/images/about.jpg" alt="About us"
                        style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>