<p (click)="getLocation()" class="get-location">{{'common.updateLocation' | translate}}</p>
<p *ngIf="!weather">{{'weather.noWeather' | translate}}</p>
<div *ngIf="weather">
    <h4><strong>{{'weather.weatherFor' | translate}}</strong></h4>
    <p class="loc-info">
        <span>{{weather.location.city}}, {{weather.location.region}},
            {{weather.location.country}}.
        </span>
        <span><strong>{{'weather.lat' | translate}}</strong>
            {{weather.location.lat}},
            <strong>{{'weather.lon' | translate}}</strong> {{weather.location.long}},
            <strong>{{'weather.time' | translate}}</strong>
            {{weather.location.timezone_id}}
        </span>
    </p>
    <hr>
    <h4><strong>{{'weather.currentWeather' | translate}}</strong></h4>
    <div class="current">
        <div class="sun">
            <span><strong>{{'weather.sunrise' | translate}}</strong>
                {{weather.current_observation.astronomy.sunrise}}</span>
            <span><strong>{{'weather.sunset' | translate}}</strong>
                {{weather.current_observation.astronomy.sunset}}</span>
        </div>
        <div class="sun">
            <span><strong>{{'weather.cond' | translate}}</strong>
                {{weather.current_observation.condition.text}}</span>
            <span><strong>{{'weather.temp' | translate}}</strong>
                {{weather.current_observation.condition.temperature}}
                &#8451;</span>
        </div>
        <div class="sun">
            <span><strong>{{'weather.speed' | translate}}</strong>
                {{weather.current_observation.wind.speed}} {{'weather.kmph' | translate}}</span>
            <span><strong>{{'weather.dir' | translate}}</strong>
                {{weather.current_observation.wind.direction}}<sup>&#8728;</sup></span>
        </div>
        <div class="sun">
            <span><strong>{{'weather.humid' | translate}}</strong>
                {{weather.current_observation.atmosphere.humidity}}%</span>
            <span><strong>{{'weather.pres' | translate}}</strong>
                {{weather.current_observation.atmosphere.pressure}}
                {{'weather.mb' | translate}}</span>
        </div>
        <div class="sun">
            <span><strong>{{'weather.visib' | translate}}</strong>
                {{weather.current_observation.atmosphere.visibility}} {{'weather.km' | translate}}</span>
            <span><strong>{{'weather.lastUpdate' | translate}}</strong>
                {{weather.current_observation.pubDate * 1000 | date: 'dd/MM/yyyy h:mm:ss a'}}</span>
        </div>
    </div>
    <hr>
    <h4><strong>{{'weather.forecast' | translate}}</strong></h4>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
        <ng-container matColumnDef="sNo">
            <th mat-header-cell *matHeaderCellDef> {{'common.sNo' | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{dataSource.filteredData.indexOf(element) + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> {{'weather.details' | translate}} </th>
            <td mat-cell *matCellDef="let element" style="padding: 20px 0px;">
                <div class="example-element-description">
                    <tr>
                        <td><strong>{{'weather.date' | translate}}</strong></td>
                        <td>{{element.date * 1000 | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{'weather.day' | translate}}</strong></td>
                        <td>{{element.day}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{'weather.minTemp' | translate}}</strong></td>
                        <td>{{element.low}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{'weather.maxTemp' | translate}}</strong></td>
                        <td>{{element.high}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{'weather.condition' | translate}}</strong></td>
                        <td>{{element.text}}</td>
                    </tr>
                </div>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element"
                [attr.colspan]="columnsToDisplay.length">

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"></tr>
    </table>
    <div style="padding-bottom: 30px;"></div>
</div>