.get-location {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.get-location a {
  cursor: pointer;
}

.loc-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current {
  display: flex;
  flex-direction: column;
}

.sun {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 100px;
}

.example-element-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.example-element-description tr td {
  width: 200px;
}

@media (max-width: 660px) {
  .loc-info {
    flex-direction: column;
  }
  .loc-span {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .loc-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .sun {
    flex-direction: column;
  }
  .sun-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .td {
    text-align: right;
    padding-right: 20px;
  }
}

@media (max-width: 390px) {
  .tr{
    border-bottom: dashed 0.4px;
  }
}
