<p (click)="getLocation()" class="get-location">Click to update location</p>
<p *ngIf="!weather">No weather data found!</p>
<div *ngIf="weather">
    <h4><strong>Weather forecast for</strong></h4>
    <p class="loc-info">
        <span>{{weather.location.city}}, {{weather.location.region}},
            {{weather.location.country}}.
        </span>
        <span><strong>Latitude:</strong>
            {{weather.location.lat}},
            <strong>Longitude:</strong> {{weather.location.long}},
            <strong>Timezone:</strong>
            {{weather.location.timezone_id}}
        </span>
    </p>
    <hr>
    <h4><strong>Current weather conditions</strong></h4>
    <div class="current">
        <div class="sun">
            <span><strong>Sunrise:</strong>
                {{weather.current_observation.astronomy.sunrise}}</span>
            <span><strong>Sunset:</strong>
                {{weather.current_observation.astronomy.sunset}}</span>
        </div>
        <div class="sun">
            <span><strong>Condition:</strong>
                {{weather.current_observation.condition.text}}</span>
            <span><strong>Temperature:</strong>
                {{weather.current_observation.condition.temperature}}
                &#8451;</span>
        </div>
        <div class="sun">
            <span><strong>Wind speed:</strong>
                {{weather.current_observation.wind.speed}} KMPH</span>
            <span><strong>Wind direction:</strong>
                {{weather.current_observation.wind.direction}}<sup>&#8728;</sup></span>
        </div>
        <div class="sun">
            <span><strong>Humidity:</strong>
                {{weather.current_observation.atmosphere.humidity}}%</span>
            <span><strong>Pressure:</strong>
                {{weather.current_observation.atmosphere.pressure}}
                millibars</span>
        </div>
        <div class="sun">
            <span><strong>Visibilty:</strong>
                {{weather.current_observation.atmosphere.visibility}} KMs</span>
            <span><strong>Last updated at:</strong>
                {{weather.current_observation.pubDate * 1000 | date: 'dd/MM/yyyy h:mm:ss a'}}</span>
        </div>
    </div>
    <hr>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
        <ng-container matColumnDef="sNo">
            <th mat-header-cell *matHeaderCellDef> S. No. </th>
            <td mat-cell *matCellDef="let element">
                {{dataSource.filteredData.indexOf(element) + 1}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element"
                [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-description">
                    <tr>
                        <td><strong>Date</strong></td>
                        <td>{{element.date * 1000 | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td><strong>Day</strong></td>
                        <td>{{element.day}}</td>
                    </tr>
                    <tr>
                        <td><strong>Minimum temperature</strong></td>
                        <td>{{element.low}}</td>
                    </tr>
                    <tr>
                        <td><strong>Maximum temperature</strong></td>
                        <td>{{element.high}}</td>
                    </tr>
                    <tr>
                        <td><strong>Condition</strong></td>
                        <td>{{element.text}}</td>
                    </tr>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"></tr>
    </table>
    <div style="padding-bottom: 30px;"></div>
</div>