<form class="col-xs-12" [formGroup]="updatePasswordForm"
    (ngSubmit)="onUpdatePass()">
    <h2 style="text-align: center;">{{'updatePass.update' | translate}}</h2>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'updatePass.enterCurr' | translate}}</mat-label>
        <input matInput formControlName="currentPass" type="text"
            autocomplete="current-password">
        <mat-error *ngIf="updatePasswordForm.controls['currentPass'].invalid">
            {{'updatePass.currReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'updatePass.enterNew' | translate}}</mat-label>
        <input matInput formControlName="newPass" type="text"
            autocomplete="new-password">
        <mat-error *ngIf="updatePasswordForm.controls['newPass'].invalid">
            {{'updatePass.newReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'updatePass.reEnterNew' | translate}}</mat-label>
        <input matInput formControlName="confirmPass" type="text"
            autocomplete="new-password">
        <mat-error *ngIf="updatePasswordForm.controls['confirmPass'].invalid">
            {{'updatePass.notMatch' | translate}}</mat-error>
    </mat-form-field>

    <div class="btns">
        <button mat-button class="btn btn-primary"
            [disabled]="updatePasswordForm.invalid"
            type="submit">{{'common.update' | translate}}</button>
        <button mat-button class="btn btn-default" type="reset"
            (click)="onCancel()">{{'common.cancel' | translate}}</button>
    </div>

</form>