<div class="row">

    <form class="col-md-6 col-sm-12 w3-animate-zoom"
        [formGroup]="loginSellerForm" (ngSubmit)="onLogin()">
        <h2>{{ loginAs }}</h2>
        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>Enter your username</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error *ngIf="loginSellerForm.controls['username'].invalid">
                Please enter a valid username or email ID</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginSellerForm.controls['password'].invalid">
                Please enter a valid password</mat-error>
        </mat-form-field>

        <div class="btns">
            <button mat-button class="btn btn-primary"
            *ngIf="!isLoading;else loading"
                [disabled]="loginSellerForm.invalid"
                type="submit">Login</button>
            <ng-template #loading style="height: 34px;">
                <app-loader></app-loader>
            </ng-template>
            <button mat-button class="btn btn-default" type="reset"
                (click)="onCancel()">Cancel</button>
        </div>

    </form>
</div>