.row {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

form {
  -webkit-box-shadow: 3px 3px 45px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 45px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 45px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

mat-form-field {
  margin: 10px 0px;
}

.btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  justify-content: space-evenly;
}
