<div class="row">

    <form class="col-md-6 col-sm-12 w3-animate-zoom"
        [formGroup]="registerBoothForm" (ngSubmit)="onRegister()">
        <h2>{{ 'register.booth' | translate }}</h2>
        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterName' | translate}}</mat-label>
            <input matInput formControlName="name" type="text"
                autocomplete="name">
            <mat-error *ngIf="registerBoothForm.controls['name'].invalid">
                {{'register.nameReq' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterBooth' | translate}}</mat-label>
            <input matInput formControlName="boothName" type="text"
                autocomplete="additional-name">
            <mat-error *ngIf="registerBoothForm.controls['boothName'].invalid">
                {{'register.boothNameReq' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterMobile' | translate}}</mat-label>
            <input matInput formControlName="phone" type="text"
                inputmode="numeric" autocomplete="mobile" maxlength="10">
            <mat-error *ngIf="registerBoothForm.controls['phone'].invalid">
                {{'register.validMobile' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterEmail' | translate}}</mat-label>
            <input matInput formControlName="email" type="email"
                autocomplete="email" inputmode="email">
            <mat-error *ngIf="registerBoothForm.controls['phone'].invalid">
                {{'register.validEmail' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterBoothAddress' | translate}}</mat-label>
            <textarea matInput formControlName="address"
                autocomplete="address-line3"></textarea>
            <mat-error *ngIf="registerBoothForm.controls['address'].invalid">
                {{'register.boothAddReq' | translate}}</mat-error>
        </mat-form-field>

        <div class="btns">
            <button mat-button class="btn btn-primary"
                [disabled]="registerBoothForm.invalid"
                type="submit">{{'register.register' | translate}}</button>
            <button mat-button class="btn btn-default" type="reset"
                (click)="onCancel()">{{'common.cancel' | translate}}</button>
        </div>

    </form>
</div>