<div class="row reg-btns" *ngIf="!isRegistering;else registerForm">
    <div class="col-12 w3-animate-right">
        <button type="button" class="btn btn-primary"
            (click)="register('Booth')">{{'register.registerBooth' | translate}}</button>
    </div>
    <div class="col-12 w3-animate-left">
        <button type="button" class="btn btn-primary"
            (click)="register('Farmer')">{{'register.registerFarmer' | translate}}</button>
    </div>
    <div class="col-12 w3-animate-right">
        <button type="button" class="btn btn-primary"
            (click)="register('Seller')">{{'register.registerSeller' | translate}}</button>
    </div>
</div>

<ng-template #registerForm>
    <app-register-booth *ngIf="registerAs==='Booth'" (cancel)="cancel()">
    </app-register-booth>
    <app-register-seller *ngIf="registerAs==='Seller'" (cancel)="cancel()">
    </app-register-seller>
    <app-register-farmer *ngIf="registerAs==='Farmer'" (cancel)="cancel()">
    </app-register-farmer>
</ng-template>