<div class="row reg-btns" *ngIf="!isRegistering;else registerForm">
    <div class="col-12 w3-animate-right">
        <button type="button" class="btn btn-primary"
            (click)="register('Booth')">{{'register.registerBooth' | translate}}</button>
    </div>
    <div class="col-12 w3-animate-left">
        <button type="button" class="btn btn-primary"
            (click)="register('User')" [ngClass]="{smallText: storage.getCurrentLang()==='hi'}">{{'register.registerUser' | translate}}</button>
    </div>
</div>

<ng-template #registerForm>
    <app-register-booth *ngIf="registerAs==='Booth'" (cancel)="cancel()">
    </app-register-booth>
    <app-register-user *ngIf="registerAs==='User'" (cancel)="cancel()">
    </app-register-user>
</ng-template>