<div class="row reg-btns" *ngIf="!isLoggingIn; else loginForm">
    <div class="col-12 w3-animate-left">
        <button type="button" class="btn btn-primary"
            (click)="login('Login as Booth')">{{'login.loginBooth' | translate}}</button>
    </div>
    <div class="col-12 w3-animate-right">
        <button type="button" class="btn btn-primary"
            (click)="login('Login as User')">{{'login.loginUser' | translate}}</button>
    </div>
</div>

<ng-template #loginForm>
    <app-login-booth *ngIf="loginAs==='Login as Booth'" (cancel)="cancel()">
    </app-login-booth>
    <app-login-user *ngIf="loginAs==='Login as User'" (cancel)="cancel()">
    </app-login-user>
</ng-template>