@media (max-width: 1060px) {
  img {
    height: 500px;
    width: 600px;
  }
}

@media (max-width: 810px) {
  img {
    height: 450px;
    width: 600px;
  }
}

@media (max-width: 750px) {
  img {
    height: 400px;
    width: 550px;
  }
}

@media (max-width: 690px) {
  img {
    height: 350px;
    width: 500px;
  }
}

@media (max-width: 620px) {
  img {
    height: 300px;
    width: 450px;
  }
}

@media (max-width: 560px) {
  img {
    height: 250px;
    width: 400px;
  }
}

@media (max-width: 500px) {
  img {
    height: 200px;
    width: 350px;
  }
}

@media (max-width: 440px) {
  img {
    height: 170px;
    width: 320px;
  }
}

@media (max-width: 400px) {
  img {
    height: 150px;
    width: 300px;
  }
}
