<div class="row">

    <form class="col-md-6 col-sm-12 w3-animate-zoom"
        [formGroup]="loginBoothForm" (ngSubmit)="onLogin()">
        <h2>{{ 'login.loginBooth' | translate }}</h2>
        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'login.enterUserOrEmail' | translate}}</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error *ngIf="loginBoothForm.controls['username'].invalid">
                {{'login.validUserOrEmail' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'login.enterPassword' | translate}}</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginBoothForm.controls['password'].invalid">
                {{'login.validPassword' | translate}}</mat-error>
        </mat-form-field>

        <div class="btns">
            <button mat-button class="btn btn-primary"
                [disabled]="loginBoothForm.invalid"
                type="submit">{{'login.login' | translate}}</button>
            <button mat-button class="btn btn-default" type="reset"
                (click)="onCancel()">{{'common.cancel' | translate}}</button>
        </div>

    </form>
</div>