.newsletter {
  background-image: url(../../../../assets/images/newsletter.jpeg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 180px 0px;
  color: #fff;
}

.newsletter-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 30%;
}

.newsletter-form {
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

input {
  height: 50px;
  width: 70%;
}

input[type="email"] {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: white solid 1px;
}

input[type="email"]::placeholder {
  color: white;
}

input[type="submit"] {
  margin-top: 40px;
  color: black;
  font-weight: bold;
  opacity: 0.8;
}

input[type="submit"]:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .newsletter {
    flex-direction: column;
    align-items: center;
  }

  input[type="email"]{
    margin-top: 30px;
  }
}
