<div class="row">

    <form class="col-md-6 col-sm-12 w3-animate-zoom"
        [formGroup]="registerSellerForm" (ngSubmit)="onRegister()">
        <h2>{{ 'register.seller' | translate }}</h2>
        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterName' | translate}}</mat-label>
            <input matInput autocomplete="name" formControlName="name">
            <mat-error *ngIf="registerSellerForm.controls['name'].invalid">
                {{'register.nameReq' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterMobile' | translate}}</mat-label>
            <input matInput formControlName="phone" type="text"
                inputmode="numeric" autocomplete="mobile">
            <mat-error *ngIf="registerSellerForm.controls['phone'].invalid">
                {{'register.validMobile' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterEmail' | translate}}</mat-label>
            <input matInput formControlName="email" type="email"
                inputmode="email" autocomplete="email">
            <mat-error *ngIf="registerSellerForm.controls['phone'].invalid">
                {{'register.validEmail' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-md-6 col-sm-12">
            <mat-label>{{'register.enterAddress' | translate}}</mat-label>
            <textarea matInput formControlName="address"
                autocomplete="address-line3"></textarea>
            <mat-error *ngIf="registerSellerForm.controls['address'].invalid">
                {{'register.addressReq' | translate}}</mat-error>
        </mat-form-field>

        <div class="btns">
            <button mat-button class="btn btn-primary"
                [disabled]="registerSellerForm.invalid"
                type="submit">{{'register.register' | translate}}</button>
            <button mat-button class="btn btn-default" type="reset"
                (click)="onCancel()">{{'common.cancel' | translate}}</button>
        </div>

    </form>
</div>