<div class="wrapper footer page-footer font-small purple pt-4 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 text">
                Kisan Sewa
            </div>
            <div class="col-12 text">
                A project by final year students.
            </div>
            <div class="col-12 col-md-3 name">
                Utkarsh Srivastava
            </div>
            <div class="col-12 col-md-3 name">
                Rohan Dwivedi
            </div>
            <div class="col-12 col-md-3 name">
                Shivam Rajput
            </div>
            <div class="col-12 col-md-3 name">
                Abhishek Singh
            </div>
        </div>
    </div>
</div>