<div class="container">
    <section>
        <div class="section-container why-ola max-width">
            <div class="w3-animate-zoom services">
                <h2 class="section-heading">{{'services.whyHere' | translate}}
                </h2>
                <label class="section-sub-heading">
                    {{'services.servicesAvail' | translate}}
                </label>
            </div>
            <div class="item-list-wrapper clearfix">
                <div class="wd-50 w3-animate-left">

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img src="../../../assets/images/pocket.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.pocketFriendly' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.rentEquipments' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img src="../../../assets/images/track.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.trackStatus' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.trackItem' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img
                                    src="../../../assets/images/fertilizers.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.fertAndPests' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.purchasePests' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                </div>
                <div class="wd-50 w3-animate-right">

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img src="../../../assets/images/experts.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.tipsAndTricks' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.getImportantInfo' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img
                                    src="../../../assets/images/forecasts.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.forecasts' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.futureReady' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                    <a class="indiv-item-list event-elem">
                        <div class="wd-30">
                            <div class="img-holder">
                                <img
                                    src="../../../assets/images/cashless.jpg" />
                            </div>
                        </div>
                        <div class="wd-70">
                            <h4 class="heading">
                                {{'services.cashless' | translate}}
                            </h4>
                            <p class="info">
                                {{'services.goCashless' | translate}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>