<div class="row w3-animate-zoom">

    <h2>{{ 'register.booth' | translate }}</h2>
    <p style="text-align: right; font-size: 12px; margin-right: 5%;"><a
            (click)="updatePassword()"><i class="fa fa-key"
                aria-hidden="true"></i> {{'updatePass.click' | translate}}</a>
    </p>
    <form class="col-sm-12" [formGroup]="updateBoothForm">
        <mat-form-field appearance="outline"
            class="mat-no-padding col-sm-6 col-xs-12">
            <mat-label>{{'register.enterName' | translate}}</mat-label>
            <input matInput type="text" autocomplete="name"
                formControlName="name">
            <mat-error *ngIf="updateBoothForm.controls['name'].invalid">
                {{'register.nameReq' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-sm-6 col-xs-12">
            <mat-label>{{'register.enterBooth' | translate}}</mat-label>
            <input matInput type="text" autocomplete="additional-name"
                formControlName="boothName">
            <mat-error *ngIf="updateBoothForm.controls['boothName'].invalid">
                {{'register.boothNameReq' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-sm-6 col-xs-12">
            <mat-label>{{'register.enterMobile' | translate}}</mat-label>
            <input matInput type="text" inputmode="numeric"
                autocomplete="mobile" maxlength="10" formControlName="phone">
            <mat-error *ngIf="updateBoothForm.controls['phone'].invalid">
                {{'register.validMobile' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
            class="mat-no-padding col-sm-6 col-xs-12">
            <mat-label>{{'register.enterEmail' | translate}}</mat-label>
            <input matInput type="email" autocomplete="email" inputmode="email"
                formControlName="email" readonly>
            <mat-error *ngIf="updateBoothForm.controls['email'].invalid">
                {{'register.validEmail' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
            <mat-label>{{'register.enterBoothAddress' | translate}}</mat-label>
            <textarea matInput autocomplete="address-line3"
                formControlName="address"></textarea>
            <mat-error *ngIf="updateBoothForm.controls['address'].invalid">
                {{'register.boothAddReq' | translate}}</mat-error>
        </mat-form-field>

        <div class="text-center">
            <button mat-button class="btn btn-default profile"
                (click)="imgFileInput.click()"
                type="button">{{'common.chooseFile' | translate}}</button>
            <input hidden type="file" #imgFileInput
                (change)="onFileSelect($event)" style="display: none;" />
            <p><strong>{{'common.note' | translate}}</strong>{{'common.noteFile' | translate}}
            </p>
        </div>

        <div *ngIf="uploadedImage" class="xs-12 sm-6 text-center image">
            <img [src]="uploadedImage" />
            <i class="fa fa-times-circle-o close" aria-hidden="true"
                (click)="removeImage()"></i>
        </div>

        <div class="btns">
            <button mat-button class="btn btn-primary" type="submit"
                [disabled]="updateBoothForm.invalid"
                (click)="onUpdate()">{{'common.update' | translate}}</button>
            <button mat-button class="btn btn-default" (click)="onCancel()"
                type="reset">{{'common.cancel' | translate}}</button>
        </div>

    </form>
</div>

<hr>