/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
a:hover {
  text-decoration: none;
}

/* Globals type styling */

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

a {
  cursor: pointer;
}

.header {
  padding-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #fff;
}

.carousel-inner img {
  width: 100%;
  min-height: 600px;
  max-height: 600px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  margin-left: 15px;
}

.carousel-control.right span {
  margin-right: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 30%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
  font-weight: bold;
}

.header-text h2 span {
  padding: 10px;
  color: #fff;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  margin-right: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn-theme:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/* Mobile adjustments */

@media (max-width: 768px) {
  .a-block {
    text-align: center;
  }
}

textarea{
  overflow: auto;
}

button[type="submit"]{
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

