<form class="col-xs-10" [formGroup]="sellRentForm">

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterTitle' | translate}}</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="sellRentForm.controls['title'].invalid">
            {{'sellOrRent.titleReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterDesc' | translate}}</mat-label>
        <textarea matInput formControlName="desc"></textarea>
        <mat-error *ngIf="sellRentForm.controls['desc'].invalid">
            {{'sellOrRent.descReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterCateg' | translate}}</mat-label>
        <mat-select formControlName="category">
            <mat-option value="" disabled>
                {{'sellOrRent.choose1' | translate}}</mat-option>
            <mat-option value="fertAndPest">
                {{'sellOrRent.fertAndPest' | translate}}
            </mat-option>
            <mat-option value="seeds">{{'sellOrRent.seed' | translate}}
            </mat-option>
            <mat-option value="equipAndMach">
                {{'sellOrRent.equipAndMachi' | translate}}
            </mat-option>
            <mat-option value="other">{{'sellOrRent.other' | translate}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="sellRentForm.controls['category'].invalid">
            {{'sellOrRent.categReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.want' | translate}}</mat-label>
        <mat-select formControlName="shop">
            <mat-option value="" disabled>
                {{'sellOrRent.choose1' | translate}}</mat-option>
            <mat-option value="sell">{{'sellOrRent.sell' | translate}}
            </mat-option>
            <mat-option value="rent">{{'sellOrRent.rent' | translate}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="sellRentForm.controls['shop'].invalid">
            {{'sellOrRent.plsChoose' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterPrice' | translate}}</mat-label>
        <span matPrefix>&#8377; &nbsp; </span>
        <input matInput formControlName="price" type="number" min="1">
        <mat-error *ngIf="sellRentForm.controls['price'].invalid">
            {{'sellOrRent.priceReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterUnit' | translate}}</mat-label>
        <span matPrefix>{{'sellOrRent.per' | translate}} &nbsp; </span>
        <input matInput formControlName="unit" type="text">
        <mat-error *ngIf="sellRentForm.controls['unit'].invalid">
            {{'sellOrRent.unitReq' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-no-padding col-xs-12">
        <mat-label>{{'sellOrRent.enterQuan' | translate}}</mat-label>
        <input matInput formControlName="quantity" type="text">
        <mat-error *ngIf="sellRentForm.controls['quantity'].invalid">
            {{'sellOrRent.quanReq' | translate}}</mat-error>
    </mat-form-field>

    <div class="text-center">
        <button mat-button class="btn btn-default profile"
            (click)="imgFileInput.click()"
            type="button">{{'sellOrRent.upload' | translate}}</button>
        <input hidden type="file" #imgFileInput (change)="onFileSelect($event)"
            style="display: none;" multiple />
        <p><strong>{{'common.note' | translate}}</strong>{{'common.noteFile' | translate}}
        </p>
    </div>

    <div class="images">
        <div *ngFor="let image of uploadedImages; let index = index;"
            class="image">
            <img [src]="image">
            <i class="fa fa-times-circle-o close" aria-hidden="true"
                (click)="removeImage(index)"></i>
        </div>
    </div>

    <div class="btns">
        <button mat-button class="btn btn-primary"
            [disabled]="sellRentForm.invalid" (click)="onSell()"
            type="submit">{{'common.submit' | translate}}</button>
    </div>

</form>