<h2>{{'location.pin' | translate}}</h2>
<agm-map [latitude]="lat" [longitude]="lon" [streetViewControl]="false"
    [mapTypeControl]="true" [fullscreenControl]="true"
    (mapClick)="placeMarker($event)">
    <agm-marker [latitude]="lat" [longitude]="lon">
    </agm-marker>
</agm-map>
<div class="btns">
    <button (click)="onCancel()" mat-button
        class="btn btn-default">{{'common.cancel' | translate}}</button>
    <button (click)="onSubmit()" mat-button
        class="btn btn-primary">{{'common.submit' | translate}}</button>
</div>